/* Imports */ 


/* CCS Variables */

:root {
    --primary-color: #E0144E; /* Amaranth */
    --highlight-color: #FFEBD6; /* Antique white */
    --secondary-color: #C88956; /* Persian orange */
    --light-color: #ffffff; /* White */ 
    --dark-colour: #383838; /* Jet */
    --dark-highlight: #0D1321; /* Rich Black*/
    --primary-font: 
    --secondary-font: 
}

/* Global Styles */

body {
    color: var(--dark-colour);
    margin-bottom: 42px; /* pushes down footer */
}

.section {
    padding: 4rem;
}

.btn-custom {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.btn-custom:hover {
    background-color: var(--highlight-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

/* Header */

header {
    background-color: var(--dark-colour);
}

#navbar {
    background-color: rgba(56, 56, 56, 0.7);
}

/* Hero Section */

#hero {
    height: 100vh;
    width: 100%;
    background: url(../images/selah-duo1.jpg) no-repeat 70% top/cover;
    background-color: var(--dark-colour)
}

#hero-text {
    color: var(--light-color);
    margin-top: 150px; /* pushes down the element to stop being covered by nav bar */
    padding: 10px 5px;
    top: 46%;
    font-size: 150%;
    font-weight: 450;
    max-width: 350px;
    background-color: rgba(56, 56, 56, 0.4);
    }

/* About Section */

#about {}

#alex-headshot {
    background: url(../images/alex-bio.png) no-repeat top center/cover;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
}

#jo-headshot {
    background: url(../images/jo-bio.png) no-repeat top center/cover;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
}

/* Media section */ 

#media {
    background: url(../images/jo-violin2.JPG) no-repeat 80% 20%/cover;
    background-color: var(--dark-colour);
    color: var(--light-color);
}

/* Footer */

footer {
    background-color: var(--dark-colour);
    color: var(--light-color);
    min-height: 45px;
}

#social-media {
    color: var(--light-color);
}

#social-media i {
    color: var(--light-color);
    font-size: 200%;
    padding: 5px;
}

#social-media i:hover {
    color: var(--primary-color);
    font-size: 200%;
    padding: 5px;
}


/* Media Queries */

/* Small Screens: 425px and smaller */ 
@media screen and (max-width: 425px;) {
    
    /* Footer */
    #copyright {
        font-size: 70%;
    }
}