/* Imports */ 


/* CCS Variables */

:root {
    --primary-color: #E0144E; /* Amaranth */
    --secondary-color: #FFEBD6; /* Antique white */
    --highlight-color: #C88956; /* Persian orange */
    --dark-colour: #383838; /* Jet */
}

/* Global Styles */

body {
    color: var(--dark-colour);
}

.section {
    padding: 4rem;
}

.btn-custom {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0;
    /* border: 1px solid var(--highlight-color); */
}

.btn-custom:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 0;
}

/* Header */

header {
    background-color: var(--dark-colour);
}

#navbar {
    background-color: rgba(56, 56, 56, 0.7);
}

.active {
    border-bottom: 2px solid white;
}

/* Hero Section */

#hero {
    height: 100vh;
    width: 100%;
    background: url(../images/selah-duo1.jpg) no-repeat 70% top/cover;
    background-color: var(--dark-colour)
}

#hero-text {
    color: #E02954;
    margin-top: 150px; /* pushes down the element to stop being covered by nav bar */
    padding: 10px 5px;
    top: 46%;
    font-size: 150%;
    font-weight: 450;
    max-width: 350px;
    /*background-color: rgba(0, 0, 0, 0.35);*/
    }

/* About Section */

#about {}

#alex-headshot {
    background: url(../images/alex-bio.png) no-repeat top center/cover;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
}

#jo-headshot {
    background: url(../images/jo-bio.png) no-repeat top center/cover;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
}

/* Media section */ 

#media {
    background: url(../images/jo-violin2.JPG) no-repeat 80% 20%/cover;
    background-color: var(--dark-colour);
    color: white;
}

/* Footer */


/* Media Queries */